/*----- STYLOVÁNÍ index.HTML -----*/
/* *, :after, :before { box-sizing: border-box; } */

body {
  background-image: linear-gradient(#615dad, #ffc8da)
    /*směr je defaultně to bottom, netřeba psát, při jiných směrech se udává před barvami*/;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.piskvorky {
  width: 350px;
  background-color: #283e50;
  border-radius: 5px 5px 0 0;
  box-shadow: 10px 10px 30px 0px grey; /*horizontal lenght, vertical lenght, blur radius, spread radius */
}

.uvodni-obrazek {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.navod {
  padding: 20px;
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 10px;
  text-align: center;
}
.tlacitka {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.tlacitka .tl-horni {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}
.tlacitka .tl-horni:hover,
.tlacitka .tl-horni:focus {
  background-color: #1cbb96;
}
.tlacitka .tl-dolni {
  background-color: #0197f6;
}
.tlacitka .tl-dolni:hover,
.tlacitka .tl-dolni:focus {
  background-color: #0090e9;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  padding: 20px 0px;
}

/*----- STYLOVÁNÍ pravidla.HTML -----*/

/*----- MOBIL / základní / ÚZKÁ obrazovka -----*/

.piskvorky-navod {
  background-color: #283e50;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px 5px 0 0;
  display: flex; /*celkový flex */
  flex-direction: column;
}

.pravidla {
  padding-top: 30px;
  padding-bottom: 30px;
}

ol {
  padding-left: 60px;
  padding-right: 25px;
  list-style-position: outside;
}

ol li {
  padding: 10px;
}
.ikona {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.obrazovy-navod {
  display: flex; /*flex obrazové návody*/
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}
figure {
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin: 10px 25px;
  padding: 0;
}

.obrazek {
  width: 300px;
  margin: 0 25px;
}

/*----- TABLET / ŠIROKÁ obrazovka -----*/

@media screen and (min-width: 800px) {
  .piskvorky-navod {
    width: 650px;
  }
  .obrazovy-navod {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  figure {
    width: 42%;
    padding: 0;
    margin: 20px 20px 0 20px;
  }
  figcaption {
    padding: 0;
    margin: 0;
    height: 80px;
  }
  .obrazek {
    width: 100%;
    margin: 0;
  }
}

/*----- PC / VELMI ŠIROKÁ obrazovka -----*/
/* @media screen and (min-width: 1300px); */
/* jeví se mi to stejné jako u široké, takže to neměním */

/*----- STYLOVÁNÍ hra.HTML -----*/

.menu {
  width: 80vmin;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
h2 {
  margin: 0;
  display: inline;
  margin: 0 10px;
}
.player {
  display: inline-block;
  filter: invert(100%);
}
.hraje {
  display: flex;
  align-content: center;
}
.ikona-hra{
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 10px;
}

a.home,
a.restart {
  width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 5px;
  text-align: center;
}

.home {
  background-color: #1fcca4;
}
.home:hover,
.home:focus {
  background-color: #1cbb96;
}
.restart {
  background-color: #0197f6;
}
.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

.playground{
  max-width: 80vmin;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.548);
  background-image: linear-gradient(#9693ca, #f5d7e1)
  background-repeat: no-repeat;

}
button {
  width: calc(80vmin / 10);
  height: calc(80vmin / 10);
  border: 1px solid rgba(0, 0, 0, 0.548);
  background-color: rgba(255, 255, 255, 0.3);  margin: 0;
  padding: 0;
}

button:hover,
button:focus {
  background-color: rgba(255, 255, 255, 0.6);}


  /*----- STYLOVÁNÍ hra.HTML JAVA SKRIPT-----*/
.played-circle{
  background-image: url("images/circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* transform: ; */
}
.played-circle:hover,
.played-circle:focus{
  di
}

.played-cross{
  background-image: url("images/cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* transform: ; */
}
