body {
  /*background-color: #615dad;*/
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 60px;
}

.piskvorky {
  width: 350px;
  display: block;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  box-shadow: 10px 10px 30px 0px grey; /*horizontal lenght, vertical lenght, blur radius, spread radius */
  align-items: center;
}

.obrazek {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.navod {
  padding: 20px;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 10px;
}

.tlacitka {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

li {
  padding: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

li {
  padding: 20px;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50; /*je tohle správné řešení???*/
}

.pravidla:hover,
.pravidla:focus {
  background-color: #1cbb96;
}

.zacithrat {
  background-color: #0197f6;
}

.zacithrat:hover,
.zacithrat:focus {
  background-color: #0090e9;
}
